@font-face {
    font-family: Roboto;
    src: url(../../asset/font/Roboto/Roboto-Regular.ttf);
}

/********** Global **********/

/* Color Palette */
:root {
    --orange: #E37B00; 
    --light-orange: #F1BD7F; 
    --brown: #522B1C; 
    --blue: #00629b; 
    --teal: #3fbeaa; 
    --light-teal: #48dcc5; 
}


body{
    margin: 0;
	background-size: 100% ;
	background-attachment: fixed;
	font-family: Roboto, sans-serif;
	font-size:16px;
}

a{
	text-decoration:none;
}

/* buttons */
.button-1 {
	height: 50px;
	padding-left: 20px;
	padding-right:20px;
	border:0;
	font-size: 16px;
	font-weight: bold;
	background: #ffa64d;
	color: white;
}

.button-1:hover {
	background: #e8491d;
	cursor:pointer;
}

.button-2{
    border-radius: 500px;
    border: 1.2px solid #262626;
    font-weight: 700;
    color:white;
    background: linear-gradient(to bottom, #262626 50%, white 50%);
    background-size: 100% 210%;
    background-position: top;
    transition: .2s;
}

.button-2:hover{
    background-position: bottom;
    color: #262626;
    cursor: pointer;
}

.button-3{
    position: relative;
    border: 1.2px solid #262626;
    border-radius: 500px;
    font-weight: 700;
    color:#262626;
    background: linear-gradient(to bottom, white 50%, #262626 50%);
    background-size: 100% 210%;
    background-position: top;
    transition: .2s;
}

.button-3:hover{
    background-position: bottom;
    color: white;
    cursor: pointer;
}




/*************  Header *************/

/* Hamburger Menu */
header .menu-btn {
    position: fixed;
    left: 16px;
    top: 12px;
    cursor: pointer;
    z-index: 3;
    transition: transform .3s ease-out;
}

header .btn-line{
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: var(--teal);
    transition: .3s ease-out;
}

/* Rotate into X with Menu Lines */
header .close{
    transform: rotate(-180deg);
}

/* Line 1 - Rotate */
header .close > .btn-line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
    background: white;
}
/* Line 2 - Hide */
header .close > .btn-line:nth-child(2){
    opacity: 0;
    background: white;
}
/* Line 3 - Rotate */
header .close > .btn-line:nth-child(3){
    transform: rotate(-45deg) translate(7px, -6px);
    background: white;
}

/* Menu Overlay */
header .menu {
    position: absolute;
    top: 0;
}

header .menu-nav{
    position: fixed;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--teal);
    color: white;
    transition: .2s ease-out;
    transform: translate3d(-100%,0,0);
    z-index: 2;
}

header .menu-nav .nav-item{
    margin: 16px 0;
    padding: .5rem 0;
    width: 500px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: var(--teal);
    background: black;
}

header .menu-nav .nav-item:hover {
    background: white;
}

.noscroll{
    overflow: hidden;
}

header .show{
    visibility: visible;
    opacity: 1;
}

header .show .menu-nav{
    transform: translate3d(0,0,0);
}


/* Bag Icon */
header .cart-btn{
    position: fixed;
    right: 20px;
    top: 13.5px;
    width: 30px;
    height: 30px;
    z-index: 3;
}

header .cart-btn path{
    fill: var(--teal);    
}





/*************** FOOTER ***************/
footer {
	color: #59595d;
/*	background-color:  	#1c1c1c;*/
	text-align: center;
}





/************* LANDING PAGE (index.html) *************/

/* Title Slide */
.title-lockup {
    display: flex;
    margin: 80px 0 100px;
    align-items: center;
    justify-content: center;
}

.title-lockup .logo{
    width: 394px;  height: 388px;
    background: url(../../asset/img/swmq-logo.png);
    background-size: 394px 388px;
}

.title-lockup .label{
    vertical-align: top;
    text-align:left;
    padding-right: 50px;
}

.title-lockup h1{
    font-size: 34px;
    line-height: 32px;
    margin: 0 0 36px;
}

.title-lockup p{
    padding-left: 2em;
    color:#727272;
}

.title-lockup p:last-of-type{
    padding-bottom: 36px;
    border-bottom: 1px solid #cecece;
}

/* icons */
.title-lockup p[class^='icon-']::before{
    width: 1.2rem;
/*    display: inline-block;*/
    position: absolute;
    vertical-align: middle;
    text-indent:   -2em;
}
.title-lockup .icon-pin::before{
    content: url(../../asset/icon/location.svg);
}
.title-lockup .icon-time::before{
    content: url(../../asset/icon/time.svg);
}
.title-lockup .icon-envelope::before{
    content: url(../../asset/icon/envelope.svg);
}
.title-lockup .icon-phone::before{
    content: url(../../asset/icon/phone.svg);
}

/* buttons */
.title-lockup .button-2, .title-lockup .button-3{
    width:180px; height: 40px;
}

.title-lockup .button-2{
    margin-right: 10px;
}

.title-lockup .link-facebook, .title-lockup .link-shop{
    display: inline-block;
    position: relative;
    border:  1.8px solid #262626;
    border-radius: 500px;
    margin-right: 18px;
    width: 40px; height: 40px;
    overflow: hidden;
    white-space: nowrap;
    transition:  .3s ease;
    background: linear-gradient(to bottom, white 50%, #262626 50%);
    background-size: 100% 210%;
    background-position: top;
}
/* icon svg */
.title-lockup .link-facebook::before, .title-lockup .link-shop::before{
    content: url(../../asset/icon/iconmonstr-facebook-black.svg);
    position: absolute;
    left:8px; top:50%;
    width: 25px;
    transform: translateY(-50%) scale(0.8);
    transition: .2s ease;
}
.title-lockup .link-shop::before{
    content: url(../../asset/icon/location-shopping-black.svg);
}
/* button text */
.title-lockup .link-facebook > div, .title-lockup .link-shop > div{
    color: white;
    position:absolute;
    left: 38px; top:50%;
    transform: translateY(-50%);
}
.title-lockup .link-facebook:hover, .title-lockup .link-shop:hover{
    width: 165px;
    background-position: bottom;
}
/*change to white icon*/
.title-lockup .link-facebook:hover::before{
    content: url(../../asset/icon/iconmonstr-facebook.svg);
}
.title-lockup .link-shop:hover::before{
    content: url(../../asset/icon/location-shopping.svg);
}



/* Background Image */
.bg-image{
    background: var(--blue);
    background-attachment: fixed;
    transition: 0.3s ease-out;
}

/* Content Wrap */
.content-wrap{
    margin-left: auto;
    margin-right: auto;
    padding: 150px 320px 90px 16px ;
    max-width: 1030px;
    box-sizing: border-box;
    overflow-x: hidden;
    line-height: 1.5rem;
}

.content-wrap h1{
    display: inline-block;
    font-size: 1.8em;
    padding: .2em .3em;
    margin-bottom: .5em;
    background: black; color: #eee;
    box-shadow:3.2px 0 0 black,-3.2px 0 0 black;
    text-transform: uppercase;
}

.text-highlight{
    padding: 2px 0; 
    background:white;color:#59595d;
    box-shadow:3.2px 0 0 white,-3.2px 0 0 white;
}



/*************** Mobile *****************/
@media screen and (max-width: 992px) {
    
    /*Home Page*/
    header .menu-nav .nav-item{
        width: 90%;
    }    
    .title-lockup{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .title-lockup .label{
        padding-right:0;
    }
    .title-lockup h1{
        text-align: center;
    }
        .title-lockup .logo{
        display: none;
    }
        .content-wrap{
        padding: 100px 16px 80px 19.2px;
    }
    
    /*Store Pages*/
    .banner h1{
        font-size: 2.5em;
        width: 80%;
    }
}






