@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
	background:url('../images/swm-photos/ult.jpg') no-repeat top center;	
	background-size: 100% ;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	line-height:1.5em;
	margin:0;
	padding:0;
}

img{
	display: block;
	width:100%;
}

ul {
	padding: 0;
	list-style: none
}

.container{
	color: white;
	background-color: #1b2737;
	width: 1136px;
	margin: auto;
	margin-bottom: 50px;
	border: goldenrod 0px solid;
	box-sizing: border-box;
}


/* MAIN-HEADER */
#main-header {
	/* background-color: rgba(0,0,0,0.5); */

}

#main-header .container {
	background-color: rgba(0,0,0,0.55);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0 20px;
	overflow: auto;
}

#brand{
	float: left;
	width: 20%;
}

nav {
	float: right;
	text-transform:uppercase;
	text-align: right;
}

nav li {
	display: inline;
	list-style:none;
	padding: 0 20px;
}

nav a{
	font-size: 20px;
	letter-spacing: 1px;
	text-decoration:none;
	color: white;
}

nav li.current a, nav a:hover{
  color: #ffa64d;
  border-bottom: 3px solid #ffa64d;
  padding-bottom:3px;
}

nav img {
	width: 30px;
	vertical-align: bottom;
}

/* FOOTER */
footer {
	color: white;
	background-color:  	#1c1c1c;
	padding: 20px;
	text-align: center;
}



/*****************
    INDEX PAGE
******************
	
/* COPYWRITING*/
#copywriting .container {

}


/*****************
    PAINTINGS PAGE
******************
	
/* PAINTINGS*/
#paintings .container {
	padding-bottom: 50px;
}

#paintings .row {
	display: flex;
    flex-wrap: wrap;
	padding: 0 10px;
	justify-content: center;
}

#paintings .column {
	box-sizing:border-box;
    flex: 33%;
    max-width: 33%;
	padding: 0 10px;
}

#paintings h4{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 50px;
}

#paintings a {
	text-decoration:none;
	color: white;
}

.item-content{
	border: white solid 1px;
	margin-top: 20px;
	background-color: #293c56;
}

.item-info{
	overflow: hidden;
	margin: 0.7rem;
	display: flex;
	align-items: center;
}

.item-info .price {
	margin-left: auto;
	border-radius: 8%;
	padding: 0.3rem 0.6rem;
	font-size: 1.2rem;
	letter-spacing: 1px;
	color: black;
	background-color: #fefefe;
}

.item-content:hover {
	background-color: #1b2737;
}




.contentbox {
    background-color: #f2f2f2;
    overflow: hidden;
    padding-top: 15px;
    width: auto;
    height: auto;
    margin: 0 auto 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

.contentbox h1{
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
    font-family: inherit;
    color: #ffa64d;
  }
.contentbox h2{
      text-align: left;
      font-size: 24px;
      font-family: inherit;
      color: #ffa64d;
}

.contentbox h3{
  text-align: center;
}

.contentbox p{
  text-align: left;
  padding-left: 20px;
  padding-right: 100px;
}


.contentbox th, td {
      padding-left: 40px;
  }
.contentbox  th {
      text-align: left;
      width: 70%;
  }
.contentbox td {
  padding-left: 100px;
}

.contentbox h1, h2, th {
  animation-duration: 2.5s;
  animation-name: slidein;
}


.contentbox a:link {
    color: #ffa64d;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #ffa64d;
}


.forms {
  background-color: #f2f2f2;
  padding: 40px;
  width: 500px;
  margin: 0 auto 10px;
  border-radius: 2px;
    display: flex;
  justify-content: center;

}

.forms h1 {
  font-weight: 50;
  font-size: 36px;
  text-align: center;
}

.forms h2{
  font-weight: 25;
  font-size: 18px;
  text-align: center;
}
.forms h3{
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.forms input[type=submit] {
  width: 150px;
  margin-bottom: 10px;
  position: relative;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  background: #ffa64d;
  color: white;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.forms input[type=submit]:hover{
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
  cursor:pointer;
}

.forms input[type=text], input[type=email], input[type=date], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.forms input[type=text]:hover, input[type=email]:hover, input[type=date]:hover, input[type=password]:hover {
  border: 1px solid #A9A9A9;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
}




@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
