@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body{
	background:url('../images/swm-photos/ult.jpg') no-repeat center center;	 
	font-family: 'Roboto', sans-serif;
	font-size:17px;
	line-height:1.5em;
	margin:0;
	padding:0;
}

p{
	padding: 0px 20px;
}

img{
	width:100%;
}

.container{
	margin: auto;
	border: goldenrod 0px solid;
	/* background-color: rgb(200,200,255, 0.9); */
}


/* MAIN-HEADER */
#main-header {
	/* background:url('../images/swm-photos/ult.jpg') no-repeat center center;	 */

}

#main-header .row{

}

#main-header .container {

	box-sizing: border-box;



}

#header-logo{
	background-color: rgb(95,170,166, 0.9);
	box-sizing:border-box;
	padding: 0 90px 0px 30px;
	border-right: 10px solid #B9CD4A;
}

#header-nav  img{
	display: block;
	position: relative;
	z-index: 1;
	top: -300px;
	
}

#navbar{
  text-transform:uppercase;
  /* background:url('../images/navbar.svg') no-repeat top  ;  */
  /* background-size: 100%; */
  /* background-color: transparent; */
  /* padding: 0px 0px 200px 10px; */

  display: block;
  position: relative;
  z-index:100;
}

#header-nav ul {
	list-style: none
}

#navbar li {
	display:inline;
	padding-right:60px;
	list-style:none;
}

#navbar a{
	font-size: 20px;
	text-decoration:none;
	color:black;
}

#navbar li.current a, #navbar a:hover{
  color:#56a79a;
  border-bottom: 3px solid #56a79a;
  padding-bottom:3px;
}


/*   INDEX PAGE

 COPYWRITING*/
#copywriting p{
	font-size: 24px;

}

#copywriting img{

}

#copywriting .container {
	/* width: 900px; */
	padding: 50px 100px;
	box-sizing: border-box;
	/* border-radius: 20px; */
	/* background-color: rgb(200,200,255, 0.9); */
}

.emphasis {
	color: black;
	background-color: rgb(200,200,255, 0.9);
	padding: 0px 50px;
}

.emphasis:first-child {
	padding-top: 60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.emphasis:last-child {
	padding-bottom: 60px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


.contentbox {
    background-color: #f2f2f2;
    overflow: hidden;
    padding-top: 15px;
    width: auto;
    height: auto;
    margin: 0 auto 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

.contentbox h1{
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
    font-family: inherit;
    color: #ffa64d;
  }
.contentbox h2{
      text-align: left;
      font-size: 24px;
      font-family: inherit;
      color: #ffa64d;
}

.contentbox h3{
  text-align: center;
}

.contentbox p{
  text-align: left;
  padding-left: 20px;
  padding-right: 100px;
}


.contentbox th, td {
      padding-left: 40px;
  }
.contentbox  th {
      text-align: left;
      width: 70%;
  }
.contentbox td {
  padding-left: 100px;
}

.contentbox h1, h2, th {
  animation-duration: 2.5s;
  animation-name: slidein;
}


.contentbox a:link {
    color: #ffa64d;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #ffa64d;
}


.forms {
  background-color: #f2f2f2;
  padding: 40px;
  width: 500px;
  margin: 0 auto 10px;
  border-radius: 2px;
    display: flex;
  justify-content: center;

}

.forms h1 {
  font-weight: 50;
  font-size: 36px;
  text-align: center;
}

.forms h2{
  font-weight: 25;
  font-size: 18px;
  text-align: center;
}
.forms h3{
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.forms input[type=submit] {
  width: 150px;
  margin-bottom: 10px;
  position: relative;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  background: #ffa64d;
  color: white;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.forms input[type=submit]:hover{
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
  cursor:pointer;
}

.forms input[type=text], input[type=email], input[type=date], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.forms input[type=text]:hover, input[type=email]:hover, input[type=date]:hover, input[type=password]:hover {
  border: 1px solid #A9A9A9;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
}




@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
