/*
* 2018 SWMQ Online Store
* Target: detail.html
*/ 

main{
    margin: 70px auto 80px;
    max-width: 1088px;
    display: grid;
    grid-template-areas:"title  title"
                        "image  image"
                        "aside  aside";
    color: #333;
}
main h2{
    grid-area: title;
    margin: 0 auto 0 20px;
    padding: .2em .6em;
    background: #333; color: #eee;
    font-size: 1.6em;
    text-transform: uppercase;
    transform: translateY(80%);
    z-index: 1;
}
main figure{
    grid-area: image;
    margin: 0;
    position: relative;
}
main figure img{
    display: block;
    width: 100%;
}
main figure button{
    padding: 1em 0em;
    width: 150px;
    position: absolute;
    right:20px;
    transform: translateY(-80%);
}
main aside{
    grid-area: aside;
    margin: 0 20px;
}
aside .detail{
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px 0 20px;
    border-bottom: 1px solid #ccc;
}
aside h4:nth-child(even){
    grid-column: 2/3;
}
aside h4{
    font-weight: 400;
    border-left: 3px solid var(--accent);
    padding-left: 10px;
    margin-bottom: 0;
}
aside h4 span{
    color: var(--accent);
}
aside p{
    grid-column: 1/3;
    padding-top: 20px;
}


/* mobile version */
@media screen and (min-width: 696px){
    main{
        margin: 100px auto;
        grid-template-areas:"title  image"
                            "aside  image";
        justify-content: center;
    }
    main h2{
        background: initial; 
        color: #333;
        padding: 0; 
        transform: translateY(0);
        align-self: flex-end;
        font-size: 2em;
    }
    main h2:after{
        content:'';
        display: block;
        width: 50px;
        padding-bottom: 10px;
        border-bottom: 5px solid var(--accent);
    }
    main figure{
        align-self: center;
        padding-right: 20px;
    }
    main figure button{
        left: -20px; top: 30%;
        font-size: 1em;
        padding: .75em 1em;
        width: auto;
        white-space: nowrap;
    }
    main aside {
        max-width: 75%;
    }
    main aside .detail {
        border: 0;
    } 
    main aside h4{
        border-left: 0;
        padding-left: 0;
    }
    main aside p{
        padding: 0;
        margin: 10px 0 0;
    }
}










