/*
* 2018 SWMQ Online Store
*/ 

/* Global */ 
@font-face {
    font-family: Roboto;
    src: url(../../font/Roboto/Roboto-Regular.ttf);
}
:root {
    --accent: #21626B;
    --dark: #032527;
    --bg: #79B0B7;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
}
a{
    text-decoration: none;
    color: var(--accent);
}
a:hover{
    text-decoration: underline;
}
.button-3{
    border: .12em solid var(--accent);
    font-weight: 700;
    color: var(--accent);
    background: linear-gradient(to bottom, white 50%, var(--accent) 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: .2s;
}
.button-3:hover, .active{
    background-position: bottom;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/* Header */
.banner{
    width: 100%; height: 135px;
    position: relative;
}
.banner img{
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: top;
}
.banner a{
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px 0 black;
    position: absolute;
    bottom: 0; left: 50%;
    transform: translate(-50%,20%);
    text-decoration: none;
    padding: 0 2em;
    background: white;
}
.banner a img{
    width: 56px;
    padding-right: 20px;
    filter: grayscale(100%);
}
.banner a h1{
    height: 90px;
    line-height: 90px;
    margin: 0;
    white-space: nowrap;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--dark);
}
.banner a:hover h1{
    color: var(--accent);
}
/* Nav-Bar beneath banner */
#top-nav{
    margin: 36px auto 0;
    padding: 5px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 3;
    background-color: white;
    text-align: center;
}
#top-nav .container{
    margin: 0 auto;
    max-width: 630px;
    display: flex;
    justify-content: space-around;
}
#top-nav a{
    color: #333;
    font-weight: 700;
    font-size: 14px;
}
#top-nav a:hover{
    color: var(--accent);
    text-decoration: none;
}

/* Mobile */
@media screen and (max-width: 696px){
    .banner{
        height: 80px; 
    }
    .banner a{
        justify-content: center;
        padding: 20px 0;
        width: 100%;
        box-shadow: none;
    }
    .banner a img{
        display: none;
    }
    .banner a h1{
        font-size: 32px;
        height: 50px;
        line-height: 50px;
    }
    #top-nav {
        margin: 20px 0;
    }
    #top-nav .container{
        width: 100%;
    }
    #top-nav a{
        margin: 0;
    }
}


/* Footer */
html {
    position: relative;
    min-height: 100%;
}
footer{
    margin-bottom: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
	color: #333;
/*	background: white;*/
}
footer h5{
    text-align: center;
    margin: 0;
}