/* 
* 2018 SWMQ Online Store
* Target:
*   paintings.html 
*   merchandise.html
*   craft.html
*/

/*************  Header *************/

/* Hamburger Menu */
header .menu-btn {
    position: fixed;
    left: 16px;
    top: 12px;
    cursor: pointer;
    z-index: 3;
    transition: transform .3s ease-out;
}

header .btn-line{
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: var(--teal);
    transition: .3s ease-out;
}

/* Rotate into X with Menu Lines */
header .close{
    transform: rotate(-180deg);
}

/* Line 1 - Rotate */
header .close > .btn-line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
    background: white;
}
/* Line 2 - Hide */
header .close > .btn-line:nth-child(2){
    opacity: 0;
    background: white;
}
/* Line 3 - Rotate */
header .close > .btn-line:nth-child(3){
    transform: rotate(-45deg) translate(7px, -6px);
    background: white;
}

/* Menu Overlay */
header .menu {
    position: absolute;
    top: 0;
}

header .menu-nav{
    position: fixed;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--teal);
    color: white;
    transition: .2s ease-out;
    transform: translate3d(-100%,0,0);
    z-index: 2;
}

header .menu-nav .nav-item{
    margin: 16px 0;
    padding: .5rem 0;
    width: 500px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: var(--teal);
    background: black;
}

header .menu-nav .nav-item:hover {
    background: white;
}

.noscroll{
    overflow: hidden;
}

header .show{
    visibility: visible;
    opacity: 1;
}

header .show .menu-nav{
    transform: translate3d(0,0,0);
}


/* Bag Icon */
header .cart-btn{
    position: fixed;
    right: 20px;
    top: 13.5px;
    width: 30px;
    height: 30px;
    z-index: 3;
}

header .cart-btn path{
    fill: var(--teal);    
}




/* Category Navigation */
.page-wrap{
    max-width: 1088px;
    margin: 90px auto 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cat-nav {
    margin: 0 auto 2em;
    display: flex;
    justify-content: center;
}
.cat-nav a{
    margin: 10px;
    padding: .75em 1em;
    width: 85px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;
}
.product-nav a:hover, .product-nav .active{
    border: .2em solid black;
}

/* Product Listing */ 
.grid {
    background: #DDD;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */


.grid-item {
    width: 330px;
}

.grid-item {
    float: left;
    margin: 1vw;
    cursor: pointer;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

/********* Store Page Mobile *********/
@media screen and (max-width: 696px){
    .grid-item {
        width: 400px;
        margin:0;
    }
}



/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


























/*****************
    CART PAGE
******************
	
/* cart */

#cart .row {
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	border-bottom: goldenrod solid 1px;
}

#cart .column {
	box-sizing:border-box;
    flex: 25%;
    max-width: 25%;
	text-align: center;
}

#cart #subheading {
	/* border-bottom: goldenrod solid 2px; */
}

#cart a {
	color: skyblue;
}

#cart a:hover {
	text-decoration: underline;
	color: #ffa64d;
}

#cart .subtotal {
	display: flex;
	justify-content:flex-end;
	padding: 1rem 90px 0 1rem;
}

#cart #payment-info {
	padding: 10px 40px;

}

#cart form {
display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom:40px;
}

#cart h4 {
	/* border-bottom: #ffa64d 2px solid; */
}




/* Helena's Codes */

.contentbox {
    background-color: #f2f2f2;
    overflow: hidden;
    padding-top: 15px;
    width: auto;
    height: auto;
    margin: 0 auto 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

.contentbox h1{
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
    font-family: inherit;
    color: #ffa64d;
  }
.contentbox h2{
      text-align: left;
      font-size: 24px;
      font-family: inherit;
      color: #ffa64d;
}

.contentbox h3{
  text-align: center;
}

.contentbox p{
  text-align: left;
  padding-left: 20px;
  padding-right: 100px;
}


.contentbox th, td {
      padding-left: 40px;
  }
.contentbox  th {
      text-align: left;
      width: 70%;
  }
.contentbox td {
  padding-left: 100px;
}

.contentbox h1, h2, th {
  animation-duration: 2.5s;
  animation-name: slidein;
}


.contentbox a:link {
    color: #ffa64d;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #ffa64d;
}

/***********************
     LOGIN PAGE
************************/

h1 {
	/* color: #ffa64d; */
}

.forms {
  /* background-color: #f2f2f2; */
  padding: 40px;
  width: 500px;
  margin: 0 auto 10px;
  border-radius: 2px;
}

.forms h1 {
  font-weight: 50;
  font-size: 36px;
  text-align: center;
}

.forms h2{
  font-weight: 25;
  font-size: 18px;
  text-align: center;
}
.forms h3{
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.forms input[type=submit] {
  width: 150px;
  margin: auto;
  margin-bottom: 10px;	
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  background: #ffa64d;
  color: white;
  border: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.forms input[type=submit]:hover{
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.24);
  cursor:pointer;
}

.forms input[type=text], input[type=email], input[type=date], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.forms input[type=text]:hover, input[type=email]:hover, input[type=date]:hover, input[type=password]:hover {
  border: 1px solid #A9A9A9;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
}

.forms form {
	text-align: center;
}

.forms #signup{
	padding-top: 50px;
}

.forms a {
	color: #ffa64d;
}

.forms a:hover {
	text-decoration: underline;
	color: #ffa64d;
}


/****************
   ARTIST & CULTURE PAGE
*******************/
#artist .container, #culture .container {
	padding: 40px;
	
}



@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
